[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/toddobryan/Desktop/TanviTest.pdf]
row=3
col=1

[/home/toddobryan/Desktop/doNow-2026-02-20.pdf]
row=1
col=0

[/home/toddobryan/Desktop/base-style.css]
row=2
col=0

[/home/toddobryan/Desktop/Barrons5-net.pdf]
row=3
col=0

[/home/toddobryan/Desktop/TestOverProgramming]
row=4
col=0

[/home/toddobryan/Desktop/ssh-config]
row=5
col=0

[/home/toddobryan/Desktop/stepperExamples.rkt]
row=4
col=1

[/home/toddobryan/Desktop/APCSPDescription.pdf]
row=0
col=0

[/home/toddobryan/Desktop/Barrons3.pdf]
row=6
col=0

[/home/toddobryan/Desktop/racket-experiments]
row=1
col=1

[/home/toddobryan/Desktop/Barrons3-answers.pdf]
row=7
col=0

[/home/toddobryan/Desktop/Barron5-net-answers.pdf]
row=8
col=0

[/home/toddobryan/Desktop/struct-coverage.png]
row=0
col=1

[/home/toddobryan/Desktop/NatashaQuiz.pdf]
row=2
col=1

