[Desktop Entry]
Icon=/opt/jetbrains-toolbox-3.4.3.81140/bin/toolbox-tray-color.png
Exec=/opt/jetbrains-toolbox/bin/jetbrains-toolbox %u
Version=1.0
Type=Application
Categories=Development
Name=JetBrains Toolbox
StartupWMClass=jetbrains-toolbox
Terminal=false
MimeType=x-scheme-handler/jetbrains;
X-GNOME-Autostart-enabled=true
StartupNotify=false
X-GNOME-Autostart-Delay=10
X-MATE-Autostart-Delay=10
X-KDE-autostart-after=panel
Comment=
Path=
X-XFCE-Source=file:///home/toddobryan/.local/share/applications/jetbrains-toolbox.desktop
